<%- include("partials/header")-%>
    <div class="col-lg-6" style="margin-top: 1rem;">
        <div class="card" style="background-color: rgb(240,240,240);padding: 2rem;border-radius: 0.7rem;">
            <div class=" card-body">
                <h3 class="card-title ">
                    Expert1
                </h3>
                <p class="card-text">
                    Expert1@expert.com

                </p>
                <p> 1234567890</p>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-6" style="margin-top: 1rem;">
        <div class="card" style="background-color: rgb(240,240,240);padding: 2rem;border-radius: 0.7rem;">
            <div class=" card-body">
                <h3 class="card-title ">
                    Expert2
                </h3>
                <p class="card-text">
                    Expert2@expert.com

                </p>
                <p> 1234567890</p>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-6" style="margin-top: 1rem;">
        <div class="card" style="background-color: rgb(240,240,240);padding: 2rem;border-radius: 0.7rem;">
            <div class=" card-body">
                <h3 class="card-title ">
                    Expert3
                </h3>
                <p class="card-text">
                    Expert3@expert.com

                </p>
                <p> 1234567890</p>
            </div>
        </div>
        <br>
    </div>
    <%- include("partials/footer")-%>