.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 60px;
}


.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.hundred-chars {
  width: 100ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* root page */
.home-button{
    color: #f7d23b !important;
    font-size: 12px;
    background-color: white;
    border: 2px solid #f7d23b;
    transition-duration: 0.2s;
    padding: 10px 10px 10px 14px;
    letter-spacing: 5px;
    border-radius: 8px;
    outline: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.home-button:hover{
    background-color: #f7d23b;
    color: white !important;
}

/* signup  */

.signup-main{
  min-height: 100vh;
}

.form-element{
  border: 1px solid #f7d23b;
  margin: 1.5rem;
  border-radius: 3px;
  width: 250px;
  padding: 10px 15px;
}

#form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.auth-button {
  appearance: none;
  border: 0;
  padding: 10px 15px;
  color: white;
  background-color: #f7d23b;
  border-radius: 3px;
  width: 250px;

}

.header{
  margin-top: 5rem;
}